doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title= appTitle
    // CSS
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

  body
    #index-banner.section.no-pad-bot
      .container.introCont
        h1.header.center.red-text Rss Feed Reader
        .row.center
          h5.header.col.s12.light A simple app to Read Rss Feeds
        .row.center
          .input-field.col.offset-s3.s4
            input(placeholder="RSS Feed URL",type="text")#rss_feed_url
          .input-field.col.s2
            button.waves-effect.waves-light.btn#read
              | Read

      .container.margin_100#content_container
        ul.collapsible(data-collapsible='accordion')#data_ul


    // Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='/javascripts/init.js')
