<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Starter Template - Materialize</title>
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="./stylesheets/watch-style.css">
</head>

<body>
    <div id="index-banner" class="section no-pad-bot">
        <div class="container">
            <h1 class="header center red-text">Some Awesome Header here</h1>
            <div class="row">
                <div class="col s7 grid-separates">
                    <div class="row">
                        <div class="col s12 left-align">Select what you want to follow</div>
                    </div>
                    <div class="row">
                        <form action="#">
                            <div class="col s6">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test6" />
                                    <label for="test6">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test7" />
                                    <label for="test7">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test8" />
                                    <label for="test8">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test81" />
                                    <label for="test81">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test9" />
                                    <label for="test9">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test1" />
                                    <label for="test1">Red</label>
                                </p>
                            </div>
                            <div class="col s6">
                                <p>
                                    <input type="checkbox" id="test15" />
                                    <label for="test15">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test16" />
                                    <label for="test16">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test17" />
                                    <label for="test17">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test18" />
                                    <label for="test18">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test181" />
                                    <label for="test181">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test19" />
                                    <label for="test19">Red</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="test11" />
                                    <label for="test11">Red</label>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col s5 grid-separates">
                    <div class="row">
                        <div class="col s12 updates-header collection-header">
                            <h6 class="updates-header">Updates</h6>
                        </div>
                        <ul id="list" class="collection slide-fade with-header with-scroll">
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='one' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='two' class="collection-item">Suits S6 Ep 2 released</li>
                            <li id='three' class="collection-item hid">Suits S6 Ep 2 released 123</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>

</html>
